:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* Text color */
    --main-txt-col: #212121;
    --light-txt-col: #FFFFFF;
    --accent-txt-col: #2196F3;
    --secondary-txt-col: #757575;

    /* Background color */
    --main-bg-col: #FFFFFF;
    --accent-bg-col: #2196F3;
    --block-bg-col: #F5F4FA;
    --footer-bg-col:#2F303A;;
    /* Others */
} 
.page {
    font-family: var(--main-font);
    color: var(--main-txt-col);
    font-style: normal;
    font-size: normal;
}
/* reset */
.link {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
    
}
.list, .list-contact, .group, .list-contact-footer, .link {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
}

.container {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid #2196F3;
    outline-offset: -2px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Hearder */

.header {
    background-color: var(--main-bg-col);
}
.header-container {
    display: flex;
}
.main-nav {
    display: flex;
    margin-right: auto;
}

.header-list {
    display: flex;
    gap: 50px;
}
.list-contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}
.link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-col);
}
.link:hover, 
.link:focus {
    color: var(--accent-txt-col);
}
.list:active { 
    color: var(--accent-txt-col);
}
.company-name {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 93px;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-txt-col);
}
.web {
    color: var(--accent-txt-col);
}
.list-item {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.02em;
    color: var(--main-txt-col);

}
.mail.link,
.tel.link {
    font-family: var(--main-font);
    color: var(--secondary-txt-col);
}
.mail {
    margin-right: 50px;
}

/* Main */
.logo-container {
    padding-top: 106px;
    padding-bottom: 106px;
    padding-left: 237px;
    padding-right: 237px;
    justify-content: center;
}
.logo-btn {
   
    padding: 10px 32px;
    font-family: var(--main-txt-col);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 /16);
    align-items: center;
    text-align: center;
    justify-content: center;
    
    letter-spacing: 0.06em;
    
    color: var(--light-txt-col);
    
    background-color: var(--accent-bg-col);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    cursor: pointer;
}
.logo-name {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-col);
}
.logo {
    background-color: var(--footer-bg-col);
}
.features-container {
    display: flex;
    gap: 30px;
}
.adventages {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-col);
}
.list-adventages {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.list-activities {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-col);
}
.section-team-bg {
    background-color: var(--block-bg-col);
}
.activities,
.team {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-col);
}
.list-team-members {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.list-item-name {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-col);
}
.list-item-position {
    font-family: var(--main-font);   
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-col);
}
.team {
    background-color: var(--block-bg-col);
}

/* Footer */

.footer {
    background-color: var(--footer-bg-col);
}
.container-flooter {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;    
    color: var(--light-txt-col);
}
.company-name-footer {
    margin-bottom: 20px;
}
.footer .mail.link,
.footer .tel.link {
    
    font-family: var(--main-font);
    color: var(--secondary-txt-col);
}
.address {
    margin-top: 20px;
}
.footer .company-name-footer {
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--light-txt-col);
}
.footer .web {
    color: var(--accent-txt-col);
}
.footer .address {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--light-txt-col);

}


/* Portfolio */ 
.project {
    font-family: var(--main-font);

}
.group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
   
}
.list-cotainer {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.list-project {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-col);
}
.list-project-name {
    font-family: inherit;
    font-size: 16px;
    line-height: 3calc(30 / 18);
    letter-spacing: 0.03em;

    color: var(--secondary-txt-col)
}